<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Nederlandse Films</title>
    <style>

      h1{
        font-size: 80px;
        color:rgb(255,255,255);
        text-align: center;
      }
      img{
        text-align:center;
      }
      p{
        text-align:center;
        color:rgb(255,255,255);
      }
      
      
      #container{
        margin-left:0px;
      }
     
    </style>
  </head>
  <div class="text-center">
  <body style="background-image: url('https://webtech2--cassage-coder.repl.co/static/film2.jpg');">
    <div class="container">
    
    <h1>welkom op de webtech film website</h1>
    <p>Kies een film voor een trailer, cast informatie en meer. </p>
      <div id="container">
    <img id="soof" src="https://webtech2--cassage-coder.repl.co/static/soof.jpg" height="320" style="width:224" alt="ohnee"> 
    <p></p>
        
        <button class="btn btn-primary btn-lg">soof (2013)</button><p> </p>
        
    <img src="https://webtech2--cassage-coder.repl.co/static/soof2.jpg" alt="Forest" height="320" width=224 >
    <p></p><button class="btn btn-primary btn-lg">soof 2 (2016)</button><p> </p>
        
    <img src="https://webtech2--cassage-coder.repl.co/static/allesisfamilie.jpg" alt="Mountains" height="320" width="224" >
    <p></p><button class="btn btn-primary btn-lg">alles is familie (2012)</button><p> </p>
        
    <img src="https://webtech2--cassage-coder.repl.co/static/allesisliefde.jpg" alt="Forest" height="320" width="224" >
    <p></p><button class="btn btn-primary btn-lg">alles is  liefde (2007)</button><p> </p>
        
    <img src="https://webtech2--cassage-coder.repl.co/static/verliefdopibiza.jpg" alt="Forest" height="320" width="224" >
    <p></p><button class="btn btn-primary btn-lg">verliefd op ibiza (2013)</button><p> </p>
        
    <img src="https://webtech2--cassage-coder.repl.co/static/dehelvan63.jpg" alt="Forest" height="320" width="224" ><p></p><button class="btn btn-primary btn-lg">de hel van 63 (2009)</button><p> </p>
        
</div>
<p></p>
    </div>
  </body>
</html>